<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/characterSelected.css">

<%- include("templates/headerEnd") %>

<div class="characterCard" id="DruidCard">

    <div>
        <div id="char_image">
            <br>
            <img src="" alt="Selected Character" id="characterImage">
            <br>
        </div>
    </div>

    <div id="char_name">
        <input type="text" id="characterName" placeholder="Enter character name">
        <div id="name_Container">
            <h5 id="name">Give a Name to Your: </h5>
            <h5 id="characterClass"><%= characterData.Class %></h5>
        </div>
        <br>
        <h3 id="levelHeading">Level: <%= characterData.Level %> </h3>
    </div>

    <% if (characterData) { %>
    <div id="char_Container">
        <div id="ability_scores">
            <h3>Ability Scores:</h3>
            <ul id="abilityScoresList">
                <% Object.entries(characterData.AbilityScores).forEach(([ability, score]) => { %>
                <li><%= ability %>: <%= score %></li>
                <% }); %>
            </ul>
        </div>
        <div id="Equipment">
            <h3>Equipment:</h3>
            <ul id="equipmentList">
                <% Object.entries(characterData.Equipment).forEach(([equipment, item]) => { %>
                <li><%= equipment %>: <%= item %></li>
                <% }); %>
            </ul>
        </div>
        <div id="Skills">
            <h3>Skills:</h3>
            <ul id="skillsList">
                <% characterData.Skills.forEach(skill => { %>
                <li><%= skill %></li>
                <% }); %>
            </ul>
        </div>
        <div id="Abilities">
            <h3>Abilities:</h3>
            <ul id="abilitiesList">
                <% characterData.Abilities.forEach(ability => { %>
                <li><%= ability %></li>
                <% }); %>
            </ul>
        </div>
        <% } else { %>
        <p>Character not found.</p>
        <% } %>
    </div>

    <div class="buttonContainer">
        <div>
            <a href="/characterSelection" id="goBack" class="buttonLink">
                <button class="backButton" id="backButton">Select Different Character</button>
            </a>
        </div>
        <div class="confirmButton">
            <a href="/story" id="story" class="buttonLink">
                <button id="confirmButton" class="confirmButton" data-userid="<%= userID %>">Confirm Character</button>
            </a>
        </div>
        <br>
    </div>

</div>

<script src="/scripts/characterSelected.js"></script>


<%- include("templates/footer") %>