<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/characterSelected.css">

<%- include("templates/headerEnd") %>

<div class="characterCard" id="DruidCard">
    <div>
        <br>
        <img src="" alt="Selected Character" id="characterImage">
        <br>
    </div>
    <% if (characterData) { %>
    <input type="text" id="characterName" placeholder="Enter character name">
    <div id="name_Container">
        <h5>Give a Name to Your: </h5>
        <h5 id="characterClass"><%= characterData.Class %></h5>
    </div>
    <br>
    <h3 id="levelHeading">Level: <%= characterData.Level %> </h3>
    <h3>Ability Scores:</h3>
    <ul id="abilityScoresList">
        <% Object.entries(characterData.AbilityScores).forEach(([ability, score]) => { %>
        <li><%= ability %>: <%= score %></li>
        <% }); %>
    </ul>
    <h3>Equipment:</h3>
    <ul id="equipmentList">
        <% Object.entries(characterData.Equipment).forEach(([equipment, item]) => { %>
        <li><%= equipment %>: <%= item %></li>
        <% }); %>
    </ul>

    <h3>Skills:</h3>
    <ul id="skillsList">
        <% characterData.Skills.forEach(skill => { %>
        <li><%= skill %></li>
        <% }); %>
    </ul>

    <h3>Abilities:</h3>
    <ul id="abilitiesList">
        <% characterData.Abilities.forEach(ability => { %>
        <li><%= ability %></li>
        <% }); %>
    </ul>
    <% } else { %>
    <p>Character not found.</p>
    <% } %>
    <div class="buttonContainer">
        <div>
            <a href="/characterSelection" id="goBack" class="buttonLink">
                <button class="backButton" id="backButton">Select Different Character</button>
            </a>
        </div>
        <div class="confirmButton">
            <button id="confirmButton" class="confirmButton" data-userid="<%= userID %>">Confirm Character</button>
        </div>
        <br>
    </div>

</div>
<br><br><br><br><br>

<script src="/scripts/characterSelected.js"></script>


<%- include("templates/footer") %>