<%- include("templates/combatHeader") %>
<%- include("templates/combatBodyStart") %>

<% if(typeof Dice !=='undefined') {%>
<div class="options d-flex fixed-bottom flex-column pb-5 mb-4 ml-auto mr-auto" style="max-width: 25rem;">
<p class="text-center">Roll!</p>
<form id="roller" method="post">
    <button id="atkRoll" class="btn btn-secondary p-2 mb-2" style="width:25rem" type="button">Roll 1d20</button>
    <button id="dmgRoll" class="btn btn-secondary p-2 mb-2" style="width:25rem" dice="<%-Amount%>d<%-Dice%>" type="button">Roll <%- Amount %>d<%- Dice %></button>
    <button id="continue" class="btn btn-secondary p-2 mb-2 loader disabled" style="width:25rem" type="button">Next</button>
</form>
</div>
<% } %>

<div class="modal fade" id="diceModal" tabindex="-1" role="dialog" aria-labelledby="diceModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="diceModalLongTitle">Dice Roller</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <canvas id="diceRolls"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/DiceClient.js"></script>
<script>
    this.atkRoll = undefined;
    this.dmgRoll = undefined;

    const atkRoll = document.getElementById('atkRoll').addEventListener('click', () => {
        if(this.atkRoll != undefined) return;
        this.atkRoll = VisualizeRoll(20,1);
        if (this.atkRoll < 0) {
            this.atkRoll = undefined;
            return;
        }
        document.getElementById("atkRoll").classList.add("disabled");
        updateForm();
    });

    const dmgRoll = document.getElementById('dmgRoll').addEventListener('click', () => {
        if (this.dmgRoll != undefined) return;
        let roll = document.getElementById('dmgRoll').getAttribute("dice").split('d');
        this.dmgRoll = VisualizeRoll(roll[1], roll[0]);
        console.log("Damage Roll: " + this.dmgRoll);
        if(this.dmgRoll < 0) {
            this.dmgRoll = undefined;
            return;
        }
        document.getElementById("dmgRoll").classList.add("disabled");
        updateForm();
    });

    function updateForm() {
        if (typeof this.dmgRoll == 'undefined' || typeof this.atkRoll == 'undefined') return;
        document.getElementById('roller').setAttribute("action","/combat/generatePlayerAction/" + this.atkRoll + "_" + this.dmgRoll);
        document.getElementById("continue").setAttribute("type","submit");
        document.getElementById("continue").classList.remove("disabled");
    }
</script>

<%- include("templates/combatLoadModal") %>
<%- include("templates/combatErrorModal") %>
<%- include("templates/combatBodyEnd") %>