<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/quickstart.css">

<%- include("templates/headerEnd") %>

<div class="storygen">

    <div class="center">

        <div id="spinner" style="display: none;">
            <img src="/images/loading.gif" class="loading" alt="Loading...">
        </div>
        
        <% if (typeof summary !== 'undefined') { %>
        <h2 class="form-class"><%- title %></h2>
        <p class="form-class"><%- summary %></p>
        <% } %>

        <form class="form-class" action="/quickstart/newGame" method="post">
            <% if (typeof summary !== 'undefined') { %>
            <button type="submit">Start New Game</button>
            <% } %>
        </form>


        <form class="form-class" action="/quickstart/generateStory" method="post">
            <% if (typeof summary == 'undefined') { %>
            <button type="submit">Generate Story</button>
            <% } else { %>
                <br>
            <button type="submit">Reroll Story</button>
            <% } %>
        </form>

    </div>
</div>

<script src="/scripts/quickstart.js"></script>

<%- include("templates/footer") %>