<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/quickstart.css">

<%- include("templates/headerEnd") %>

<div class="storygen">

    <h1>user ID: <%= userID %></h1>

    <div class="center">

        <div class = "storycreation">
        <!-- Generates the loading animation -->
        <div id="spinner" style="display: none;">
            <img src="/images/loading.gif" class="loading" alt="Loading...">
        </div>

        <!-- Story Gen: Title and Summary -->
        <% if (typeof summary !== 'undefined') { %>
        <h2 class="form-class"><%- title %></h2>
        <p class="form-class"><%- summary %></p>
        <% } %>

        <!-- Story Gen: Buttons -->
        <form class="form-class" action="/story/story-event" method="get">
            <% if (typeof summary !== 'undefined') { %>
            <button type="submit">Start New Game</button>
            <% } %>
        </form>

        <!-- ***For testing prompts*** -->
        <!-- <form class="form-class" action="/story/test" method="post">
            <% if (typeof summary !== 'undefined') { %>
            <button type="submit">(Test Prompt)</button>
            <% } %>
        </form> -->
        
        <form class="form-class" action="/story/generateStory" method="post">
            <% if (typeof summary == 'undefined') { %>
            <button type="submit">Generate Story</button>
            <% } else { %>
                <br>
            <button type="submit">Reroll Story</button>
            <% } %>
        </form>
        </div>

    </div>
</div>

<script src="/scripts/story.js"></script>
