<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/story.css">

<%- include("templates/headerEnd") %>

<div class="storygen">

    <div class="center">

        <div class = "storycreation">
        <!-- Generates the loading animation -->
        <div id="spinner" style="display: none;">
            <img src="/images/loading.gif" class="loading" alt="Loading...">
        </div>

        <!-- Story text -->
        <p class="form-class"><%- text %></p>
        <br>
        <p class="form-class"><%- NPC %> gives you a <%- emotion %> look. What will you do next?</p>

        <!-- Interactive button(s) for the player -->         
        <form class="form-class" action="/story/npc-dialogue/" method="get">
            <input type="hidden" name="question" value="mission">
            <button type="submit">Ask About the Mission</button>
        </form>
        
        <form class="form-class" action="/story/npc-dialogue/" method="get">
            <input type="hidden" name="question" value="npc">
            <button type="submit">Ask about <%- NPC %></button>
        </form>
        
        <form class="form-class" action="/story/npc-dialogue/" method="get">
            <input type="hidden" name="question" value="setting">
            <button type="submit">Ask about <%- s_start %></button>
        </form>
                 

        <form class="form-class" action="/story/story-event" method="get">
            <button type="submit">Skip Asking Questions</button>
        </form>
        </div>

    </div>
</div>

<script src="/scripts/story.js"></script>

<%- include("templates/footer") %>