<%- include("templates/storyHeaderStart") %>

<link rel="stylesheet" href="../styles/story.css">

<%- include("templates/headerEnd") %>

        <!-- Story text -->
        <p class="form-class"><%- text %></p>
        <br>
        <p class="form-class"><%- NPC %> gives you a <%- emotion %> look. What will you do next?</p>

        <!-- Interactive button(s) for the player -->         
        <form class="form-class" action="/story/story-npcCHAT/" method="get">
            <input type="hidden" name="question" value="mission">
            <button class="btn btn-secondary p-2 mb-2 loader" type="submit">Ask About the Mission</button>
        </form>
        
        <form class="form-class" action="/story/story-npcCHAT/" method="get">
            <input type="hidden" name="question" value="npc">
            <button class="btn btn-secondary p-2 mb-2 loader" type="submit">Ask about <%- NPC %></button>
        </form>
        
        <form class="form-class" action="/story/story-npcCHAT/" method="get">
            <input type="hidden" name="question" value="setting">
            <button class="btn btn-secondary p-2 mb-2 loader" type="submit">Ask about <%- s_start %></button>
        </form>
                 

        <form class="form-class" action="/story/story-event" method="get">
            <button class="btn btn-secondary p-2 mb-2 loader" type="submit">Skip Asking Questions</button>
        </form>

<%- include("templates/storyFooter") %>