<%- include("templates/headerStart") %>
<%- include("templates/headerEnd") %>

<% if (typeof current !=='undefined' ) { %>
    <h3>Current Action:</h3>
    <% for(var x = 0; x < current.length; x++) {%>
        <p><%- current[x].Action %></p>
        <% if (typeof damage !=='undefined') {%>
            <% if(damage[x].amount !== 'undefined' && damage[x].amount > 0) {%>
                <p><%- damage[x].text%></p>
            <% } %>
        <% } %>
    <% } %> 
<%}%>

<% if(typeof targets !=='undefined') {%>
<div id="userOptions"></div>
<h2>Select a Target</h2>
<% for(var x = 0; x < targets.length; x++) { %>
    <form action='/combat/selectTarget/<%- targets[x].name %>' method="post">
        <button type="submit"><%- targets[x].name %></button>
    </form>
<% } %>
<% } %>                             

<%- include("templates/footer") %>